<div class="container">
  <h1>Angular Editor</h1>
  <angular-editor id="editor1" [(ngModel)]="htmlContent1" [config]="config1" (ngModelChange)="onChange($event)" (blur)="onBlur($event)"></angular-editor>

  <!--<div *ngIf="htmlContent" class="htmlblock block">-->
  <h6>HTML Output</h6>
  <div class="html">
    {{ htmlContent1 }}
  </div>
  <!--</div>-->
  <form [formGroup]="form">
    <angular-editor id="editor2" formControlName="signature" [config]="config2" (ngModelChange)="onChange2($event)"></angular-editor>
  </form>
  <p>
    Form Value:: {{ form.value.signature }}
  </p>
  <p>
    Form Status: {{ form.status }}
  </p>
</div>

