@font-face {
    font-family: 'Bookerly Local Light Italic';
    font-style: italic;
    font-weight: 400;
    src:
        local('Bookerly Local'),
        url('Bookerly Light Italic.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Light Italic';
    font-style: normal;
    font-weight: 400;
    src:
        local('Bookerly'),
        url('Bookerly Light.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Regular';
    font-style: normal;
    font-weight: 500;
    src:
        local('Bookerly Local Regular'),
        url('Bookerly.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Regular Italic';
    font-style: italic;
    font-weight: 500;
    src:
        local('Bookerly Local Regular Italic'),
        url('Bookerly Italic.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Bold';
    font-style: normal;
    font-weight: 600;
    src:
        local('Bookerly Local Bold'),
        url('Bookerly Bold.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Bold Italic';
    font-style: italic;
    font-weight: 600;
    src:
        local('Bookerly Local Bold Italic'),
        url('Bookerly Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Display';
    font-style: normal;
    font-weight: 700;
    src:
        local('Bookerly Local Display'),
        url('Bookerly Display.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Display Italic';
    font-style: italic;
    font-weight: 700;
    src:
        local('Bookerly Local Display Italic'),
        url('Bookerly Display Italic.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Display Bold';
    font-style: normal;
    font-weight: 800;
    src:
        local('Bookerly Local Display Bold'),
        url('Bookerly Display Bold.woff') format('woff');
}

@font-face {
    font-family: 'Bookerly Local Display Bold Italic';
    font-style: italic;
    font-weight: 800;
    src:
        local('Bookerly Local Display Bold Italic'),
        url('Bookerly Display Bold Italic.woff') format('woff');
}

.bookerly {
    font-family: 'Bookerly Local Regular';
}