@use '@angular/material' as mat;
@use 'assets/material-symbols/material-symbols.scss';
@use 'assets/bookerly/bookerly.scss';

.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

app-root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

html {
    background-color: var(--mat-sys-background);
    color: var(--mat-sys-on-background);

    @include mat.theme(
        (
            color: (
                theme-type: dark,
                primary: mat.$blue-palette,
                tertiary: mat.$green-palette
            ),
            density: 0
        )
    );
}
